@font-face {
	font-family: "Open Sans";
	src: url("../fonts/AGOpus-Bold.ttf") format("ttf")
}

@font-face {
	font-family: "m-light";
	src: url("../../../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "m-medium";
	src: url("../../../fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "m-regular";
	src: url("../../../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "m-semi";
	src: url("../../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
	font-family: "a-bold";
	src: url("../../../fonts/agopus_bold.woff");
}

:root {
	--main-color: #DDD3CD;
}

.open {
	display: block;
}

.close {
	display: none;
}

.none {
	display: none;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

a {
	transition: color 0.3s;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	color: var(--main-color) !important;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
	background: url("../../../images/triangle-icon.png") no-repeat center;
	width: 207px;
	height: 30px;
	border-radius: 5px;
	padding: 7px;
	background-position: 181px 7px;
	border: 1px solid #909090;
	outline: none !important;
}

select option {
	font-size: 14px;
}

select::-ms-expand {
	display: none;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
 }

/*  Font adaptive  */

@media (max-width: 767px) {
	.header__title {
		font-size: calc(40px + 40 * ((100vw - 420px) / 1600)) !important;
	}
}

/*  Font adaptive  */

.index-page {
	width: 100vw;
}

.index-page__line {
	
}

.line {
	font-family: "m-regular";
	background-color: #353433;
	width: 100%;
	height: 49px;
	display: grid;
	grid-template: 1fr / 1fr 3fr minmax(120px, 20%);
	position: fixed;
	z-index: 6;
}

.line__line {
	width: 27px;
	height: 2px;
	background-color: white;
}

.closed > div:nth-child(2){
	display: none;
}

.closed > div:nth-child(1){
	transform: rotate(45deg) translate(0px, 1px);
}

.closed > div:nth-child(3){
	transform: rotate(-45deg) translate(0px, -1px);
}

.closed {
	display: block !important;
}


.line__hamburger {
	display: grid;
	grid-template: repeat(3, 1fr) / 1fr;
	grid-gap: 6px;
}

.line__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line__icons {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.line__phone {
	margin: auto;
}

.line__phone a {
	color: white;
	text-decoration: none;
}

.line__info {
	display: none;
	color: white;
	font-family: "m-light";
	width: 155px;
	font-size: 14px;
	justify-content: space-around;
}

.line__info a {
	color: white;
}


.line__mobil {
	width: 100%;
	height: 333px;
	background-color: #353433;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 3;
	transition: all 0.3s;
}

.line__item {
	color: white;
	text-transform: uppercase;
	font-family: "m-medium";
	font-size: 20px;
	position: absolute;
}

.line__item:nth-child(1) {
	top: 74px;
	left: 50%;
	margin-left: -49px;
}

.line__item:nth-child(2) {
	top: 113px;
	left: 50%;
	margin-left: -33px;
}

.line__item:nth-child(3) {
	top: 152px;
	left: 50%;
	margin-left: -58px;
}

.line__item:nth-child(4) {
	top: 191px;
	left: 50%;
	margin-left: -44px;
}

.line__item:nth-child(5) {
	top: 230px;
	left: 50%;
	margin-left: -59px;
}


.header {
	background-image: url('../../../images/header-mobil-img.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 394px;
	text-align: center;
	position: relative;
}

.header__button {
	font-family: "m-regular";
	border-radius: 5px;
	background-color: var(--main-color);
	font-size: 16px;
	width: 258px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 69.7%;
	margin: auto;
	left: 50%;
	margin-left: -129px;
}

.header__button:active {
	color: white;
	background-color: #B3AEAC;
}

.header__title {
	font-family: "a-bold";
	font-size: calc(40px + 40 * (100vw / 1600));
	position: absolute;
	top: 17%;
	line-height: 1;
}

.header__desc {
	font-family: "m-medium";
	font-size: 20px;
	width: 333px;
	margin: auto;
	position: absolute;
	top: 42.5%;
	left: 50%;
	margin-left: -166.5px;
}

.header__white {
	background: #FFFFFF;
	width: 33%;
	height: 68.5%;
	position: absolute;
	top: 0;
	left: 0;
}

.header__brown {
	background-color: var(--main-color);
	width: 33%;
	height: 31.5%;
	position: absolute;
	left: 33%;
	bottom: 0;
	font-family: "m-semi";
	line-height: 1.46;
	font-size: calc(18px + 17 * (100vw / 1600));
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__brown-text {
	margin: auto 40px;
}

.header__desctop {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.nav {
	background-color: #B3AEAC;
	width: 34%;
	height: 16.5%;
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav__item {
	text-decoration: none;
	font-family: "m-semi";
	font-size: 16px;
	letter-spacing: 0.03em;
	padding-bottom: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}



/* Header для десктопа */

@media (min-width: 768px) {
	.header__desctop {
		display: block;
	}
	
	.line__hamburger {
		display: none;
	}

	.line__mobil {
		display: none;
	}

	.line__info {
		display: flex;
	}

	.line {
		grid-template: 1fr / 1fr 4fr minmax(120px, 20%);
	}

	.line__phone {
		margin: auto 0px;
		text-align: right;
	}

	.header {
		padding-top: 49px;
		background-image: url("../../../images/header-desctop-img.png");
		height: calc(100vh - 49px);
	}

	.header__button {
		display: none;
	}

	.header__desc {
		margin-left: 10vw;
		z-index: 2;
		left: 0;
		text-align: left;
		line-height: 2;
	}

	.header__title {
		top: 18.6%;
		max-width: 850px;
		z-index: 2;
		left: 0;
		margin-left: 10vw;
		text-align: left;
	}
}

/* Header для десктопа */

.about {
	background-color: #B3AEAC;
	color: white;
	height: 954px;
	position: relative;
}

.about__title {
	font-family: "a-bold";
	font-size: 35px;
	position: absolute;
	left: 5%;
	top: 5%;
}

.about__desc {
	font-family: "m-light";
	font-size: 18px;
	width: 90%;
	position: absolute;
	left: 5%;
	top: 13.5%;
}

.list {
	position: absolute;
	top: 40.7%;
	width: 100%;
	height: 100%;
}

.list__item {
	position: absolute;
	display: flex;
	align-items: center;
}

.list__item:nth-child(2) {
	top: 20%;
}

.list__item:nth-child(3) {
	top: 40%;
}

.list__title {
	font-family: "m-regular";
	font-size: 20px;
	grid-column-start: 2;
	margin-left: 27%;
	margin-bottom: 1%;
}

.list__text {
	font-family: "m-light";
	font-size: 16px;
	grid-column-start: 2;
	margin-left: 27%;
	width: 69%;
}

.list__number {
	grid-row-start: 1;
	font-family: "a-bold";
	font-size: 35px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--main-color);
	text-align: center;
	line-height: 58px;
	position: absolute;
	left: 10%;
}

.about__img {
	display: none;
}

/* About для десктопа */

@media (min-width: 1150px) {
	.about__img {
		display: block;
	}

	.about__wrapper {
		height: 777px;
		width: calc(100vw - 669px);
		position: relative;
	}

	.about {
		width: 100%;
		height: 777px;
		display: flex;
	}

}

/* About для десктопа */

.advantage {
	padding: 10%;
	display: grid;
	grid-gap: 20px;
}

.advantage__item {
	display: flex;
	align-items: center;
}

.advantage__text {
	font-family: "m-regular";
	font-size: 20px;
	margin-left: 8%;
}

/* Advantage для десктопа */

@media (min-width: 1024px) {
	.advantage {
		display: flex;
		padding: 8%;
	}

}

@media (min-width: 1300px) {
	.advantage {
		padding: 4%;
	}

}

/* Advantage для десктопа */



.main {
	width: 100vw;
	min-height: 100vh;
	position: relative;
}


.main__products {
	width: 72%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-left: 28%;
	padding-top: 219px;	
}

.main__title {
	font-family: "a-bold";
	font-size: 35px;
	position: absolute;
	left: 5.3%;
	top: 82px;
}

.menu {
	position: absolute;
	left: 0;
	top: 89px;
	height: calc(100vh - 137px);
	width: 12.8vw;
	flex-direction: column;
	padding: 69px 5.5vw;
	display: none;
	background:rgba(255,255,255, 0.97);
}

.show {
	display: flex;
}

.menu div {
	position: static !important;
}

.menu__item {
	font-family: "m-regular";
	margin-bottom: 10px;
}

.menu__title {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.menu__child {
	font-size: 16px;
	color: #909090;
	margin-left: 20px;
	cursor: pointer;
	transition: all 0.3s;
	margin-bottom: 10px;
}

.menu__child:hover {
	color: #B3AEAC;
}

@media (max-width: 767px) {
	.main__title {
		display: none;
	}

	.menu {
		display: none;
	}

	.main__products {
		width: 100%;
		margin-left: 0;
	}

	.product {
		margin-bottom: 26px !important;
	}

	.product:nth-child(3),
	.product:nth-child(4),
	.product:nth-child(5),
	.product:nth-child(6),
	.product:nth-child(7),
	.product:nth-child(8),
	.product:nth-child(9),
	.product:nth-child(10),
	.product:nth-child(11),
	.product:nth-child(12) {
		display: none;
	}

	.main__more {
		margin-top: 27px !important;
	}
}

.product {
	margin: 0px 1.3%;
	max-width: 341px;
	border: 1px solid #C1C1C1;
	border-radius: 10px;
	height: 540px;
	position: relative;
	transition: all 0.3s;
	margin-bottom: 61px;
}

.product:nth-child(7),
.product:nth-child(8),
.product:nth-child(9),
.product:nth-child(10),
.product:nth-child(11),
.product:nth-child(12) {
	display: none;
}


.product:hover {
	height: 574px;
	box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 27px;
}

.product:hover  .product__sum{
	opacity: 1;
}

.product__img {
	width: 100%;
	max-width: 341px;
	cursor: pointer;
}

.product__title {
	font-family: "m-medium";
	font-size: 25px;
	position: absolute;
	left: 12.3%;
	top: 259px;
}

.product__desc {
	font-family: "m-light";
	font-size: 14px;
	position: absolute;
	left: 12.3%;
	top: 302px;
}

.product__price {
	color: #B3AEAC;
	font-size: 20px;
	font-family: "m-medium";
	position: absolute;
	left: 12.3%;
	top: 352px;

}

.product__cart {
	text-decoration: none;
}

.product__button {
	font-family: "m-regular";
	font-size: 16px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	border: 1px solid black;
	height: 50px;
	width: 207px;
	display: inline-block;
	position: absolute;
	left: 12.3%;
	top: 460px;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s;
}

.main__more {
	font-family: "m-regular";
	font-size: 16px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	height: 50px;
	width: 258px;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s;
	background-color: var(--main-color);
	margin: 0px auto;
}

.main__more:hover,
.main__more:active {
	background-color: #B3AEAC;
	color: white;
}

.product__button:hover {
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
}

.product__love {
	position: absolute;
	left: 80%;
	top: 472px;
}

.product__love img:nth-child(2) {
	display: none;
}

.product__size {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 12.3%;
	top: 398px;
	font-size: 14px;
	font-family: "m-light";
	text-transform: uppercase;
}

.product__sum {
	position: absolute;
	left: 12.3%;
	top: 516px;
	display: flex;
	border-radius: 5px;
	border: 1px solid #BCBCBC;
	height: 34px;
	text-align: center;
	opacity: 0;
	transition: all 0.3s;
	line-height: 30px;
}

.product__sum input {
	width: 139px;
}

.footer {
	background-color: #2C2624;
	color: white;
	position: relative;
	height: 764px;
}

.footer__icon {
	width: 24px;
	border-radius: 50%;
	margin-right: 23px;
}

.footer__title {
	font-family: "a-bold";
	font-size: 25px;
	position: absolute;
	left: 4.7%;
	top: 6.6%;
	max-width: 250px;
}

.footer__adress {
	font-family: "m-regular";
	font-size: 14px;
	position: absolute;
	left: 4.7%;
	top: 16%;
}

.footer__phone {
	font-family: "m-semi";
	font-size: 20px;
	position: absolute;
	left: 4.7%;
	top: 68.4%;
}

.footer__phone a {
	text-decoration: none;
	color: white;
}

.footer__email {
	font-family: "m-regular";
	font-size: 16px;
	position: absolute;
	left: 4.7%;
	top: 72.2%;
}

.footer__email a {
	color: white;
}

.footer__timetable {
	font-family: "m-regular";
	font-size: 12px;
	position: absolute;
	left: 4.7%;
	top: 77.3%;
}

.footer__social {
	position: absolute;
	left: 4.7%;
	top: 82.3%;
}

.catalog {
	position: absolute;
	left: 4.7%;
	top: 23%;
}

.catalog__title {
	font-size: 20px;
	text-transform: uppercase;
	font-family: "m-semi";
}


.catalog__item {
	font-family: "m-regular";
	font-size: 16px;
	margin-top: 8px;
}

.serves {
	position: absolute;
	left: 4.7%;
	top: 45.8%;
}

.serves__title {
	font-family: "m-semi";
	font-size: 20px;
	text-transform: uppercase;
}

.serves__item {
	margin-top: 8px;
	font-family: "m-regular";
}

/* Footer для десктопа */

@media (min-width: 1100px) {
	.footer {
		height: 269px;
	}

	.footer__adress {
		top: 49.5%;
	}

	.footer__email {
		top: 29.3%;
	}

	.footer__timetable {
		top: 44.6%;
	}

	.footer__social {
		top: 58.7%;
	}

	.footer__title, 
	.catalog, 
	.serves,
	.footer__phone {
		top: 18.5%;
	}

	.footer__title,
	.footer__adress {
		left: 5.5%;
	}


	.serves {
		left: 50.6%;
	}

	.catalog {
		left: 28.06%;
	}
 
	.footer__email,
	.footer__social,
	.footer__phone,
	.footer__timetable {
		right: 5.5%;
		left: auto;
	}
}

/* Footer для десктопа */


.small-header {
	background-color: #fff;
	height: 88px;
	border-bottom: 1px solid #BFBFBF;
	top: 49px;
	z-index: 5;
	width: 100vw;
	text-transform: uppercase;
	font-family: "m-semi";
	transition: all 0.3s;
	position: fixed;
	display: none;
}

.small-header.move {
	transform: translateY(-100%);
}

.small-header.fixed {
	transform: translateY(0px);
}

.small-header div:nth-child(1),
.small-header div:nth-child(2),
.small-header div:nth-child(3) {
	position: absolute;
	top: 36px;
}

.small-header__catalog {
	color: black;
	left: 5.3%;
	cursor: pointer;
}

.small-header__about {
	color: black;
	left: 14.8%;
}

.small-header__contacts {
	color: black;
	left: 21.1%;
}

@media (min-width: 767px) and (max-width: 1200px) {
	.small-header__catalog {
		left: 10.6%;
	}
	
	.small-header__about {
		left: 29.6%;
	}
	
	.small-header__contacts {
		left: 42.2%;
	}
}

@media (min-width: 767px)  {
	.small-header {
		display: block;
	}
}

.product-item {
	width: 100vw;
	top: 49px;
	position: relative;
	min-height: 2500px;
}

.product-item__back {
	position: absolute;
	left: 4.5%;
	top: 32px;
	font-size: 18px;
	font-family: "a-bold";
	color: #B3AEAC;
	cursor: pointer;
}

.product-item__slider {
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding-top: 102px;
}

.product-item__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.3s;
}

.product-item__image:nth-child(1) {
	opacity: 1;
}

@media (min-width: 320px) and (max-width: 420px) {
	.product-item__wrapper {
		width: 90.7%;
	}
}

@media (min-width: 420px) {
	.product-item__image {
		height: 100%;
	}
}

.product-item__wrapper {
	position: relative;
	width: 381px;
	height: 285px;
}

.product-item__dots {
	position: absolute;
	left: calc(50% - 40px);
	bottom: 20px;
	display: flex;
}

.product-item__dots div {
	background-color: var(--main-color);
	height: 6px;
	width: 6px;
	border-radius: 50%;
	margin-left: 10px;
	transition: all 0.3s;
}

.product-item__left,
.product-item__right {
	width: 37px;
	height: 37px;
	background-color: #B3AEAC;
	border-radius: 50%;
	opacity: 0.7;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - 18.5px);
	cursor: pointer;
}

.product-item__left {
	position: absolute;
	left: 2.4%;
}

.product-item__right {
	position: absolute;
	right: 2.4%;
}

.product-item__description {
	width: 100%;
	position: relative;
	margin-top: 32px;
}

.product-item__name {
	position: absolute;
	left: 4.5%;
	top: 0;
	font-size: 35px;
	font-family: "a-bold";
}

.product-item__desc {
	position: absolute;
	left: 4.5%;
	top: 493px;
	font-family: "m-light";
	font-size: 14px;
	max-height: 250px;
}

.product-item__color {
	font-size: 14px;
	font-family: "m-regular";
	margin-top: 19px;
}

.product-item__color span {
	font-family: "m-medium";
}

.product-item__price {
	position: absolute;
	left: 4.5%;
	top: 65px;
	font-size: 25px;
	font-family: "m-medium";
}

.product-item__size {
	position: absolute;
	left: 4.5%;
	top: 113px;
	display: flex;
	flex-direction: column;
	font-family: "m-light";
	font-size: 14px;
	text-transform: uppercase;
}

.product-item__select {
	
}

.product-item__count {
	position: absolute;
	left: 4.5%;
	top: 181px;
	font-family: "m-medium";
	font-size: 14px;
}

.product-item__count input {
	width: 61px;
	height: 31px;
	border: 1px solid #C1C1C1;
	font-family: "m-medium";
	font-size: 14px;
	text-align: center;
	outline: none !important;
	margin-left: 37px;
	padding: 0;
}

.product-item__cart {
	position: absolute;
	left: 0;
	top: 231px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.product-item__button {
	font-family: "m-regular";
	font-size: 16px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	height: 50px;
	width: 90.7%;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s;
	background-color: var(--main-color);
}

.product-item__button:hover,
.product-item__button:active {
	background-color: #B3AEAC;
	color: white;
}

.product-item__love {
	position: absolute;
	left: 4.5%;
	top: 307px;
	font-family: "m-medium";
	font-size: 14px;
}

.product-item__tolove {
	border: 1px solid black;
	font-family: "m-regular";
	font-size: 16px;
	display: flex;
	border-radius: 5px;
	width: 207px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-top: 17px;
	transition: all 0.3s;
}

.product-item__tolove img {
	width: 26px;
	height: 26px;
	margin-right: 10px;
}

.product-item__tolove img:nth-child(1) {
	height: 23px;
}

.product-item__tolove img:nth-child(2) {
	display: none;
}

.product-item__tolove:hover img:nth-child(1) {
	display: none;
}

.product-item__tolove:hover img:nth-child(2) {
	display: block;
}

.product-item__tolove:hover {
	background-color: var(--main-color);
}

.product-item__pay {
	position: absolute;
	left: 4.5%;
	top: 420px;
}

.product-item__pay img {
	margin-right: 20px;
}

.product-item hr {
	display: none;
}

.product-item__title {
	margin-top: 850px;
	margin-left: 4.5%;
	font-family: "a-bold";
	font-size: 25px;
}


@media (min-width: 767px) {
	.product-item {
		top: 137px;
		left: 0;
		display: grid;
		grid-template: 600px 1fr / 32.625% 67.375%;
	}

	.product-item__back {
		left: 5.25%;
	}

	.product-item__left,
	.product-item__right {
		display: none;
	}

	.product-item__dots {
		display: none;
	}

	.product-item__wrapper {
		height: 423px;
		width: 441px;
		display: grid;
		grid-template: 331px 1fr / repeat(4, 96px);
		grid-gap: 20px;
	}

	.product-item__wrapper img {
		width: 96px;
		height: 72px;
		grid-row: 2 / 2;
	}

	.product-item__description {
		width: 100%;
		top: 102px;
		margin-top: 0;
	}

	.product-item__name,
	.product-item__desc,
	.product-item__color {
		left: 5.3%;
	}

	.product-item__name {
		top: -5px;
	}

	.product-item__price,
	.product-item__size,
	.product-item__count,
	.product-item__cart,
	.product-item__love,
	.product-item__pay {
		left: 51%;
	}

	.product-item__button,
	.product-item__cart {
		width: 258px;
		max-height: 300px;
	}


	.product-item__desc {
		max-width: 442px;
		top: 56px;
	}

	.product-item hr {
		display: block;
		position: absolute;
		left: 0;
		top: 592px;
		width: 100%;
		color: #BFBFBF;
	}

	.product-item__price {
		top: 7px;
	}

	.product-item__size {
		top: 55px;
	}

	.product-item__count {
		top: 123px;
	}
	
	.product-item__cart {
		top: 173px;
	}

	.product-item__love {
		top: 249px;
	}

	.product-item__pay {
		top: 362px;
	}

	.product-item__title {
		margin-top: 49px;
		margin-left: 5.5vw;
		font-size: 35px;
	}

	.on {
		height: 331px !important;
		width: 441px !important;
		grid-column: 1 / 5 !important;
		grid-row: 1 / 1 !important;
		opacity: 1 !important;
	}

	.on + img {
		grid-column: 1 / 2;
	}

	.on + img + img {
		grid-column: 2 / 3;
	}

	.on + img + img + img {
		grid-column: 3 / 4;
	}

	.on + img + img + img + img {
		grid-column: 4 / 5;
	}

	.product-item__wrapper img {
		opacity: 1;
	}

	.product-item__slider {
		display: block;
		margin-left: 5.06vw;
	}
	.a1 {animation: sliderA 0s !important;}.b1 {animation: sliderB 0s !important;}.c1 {animation: sliderC 0s !important;}.d1 {animation: sliderD 0s !important;}.e1 {animation: sliderE 0s !important;}

}

@media (max-width: 1440px) and (min-width: 1300px) {
	.product-item__price,
	.product-item__size,
	.product-item__count,
	.product-item__cart,
	.product-item__love,
	.product-item__pay {
		left: 70%;
	}

	.product-item__name,
	.product-item__desc,
	.product-item__color {
		left: 10.3%;
	}

}

@media (max-width: 1300px) and (min-width: 1140px) {
	.product-item__price,
	.product-item__size,
	.product-item__count,
	.product-item__cart,
	.product-item__love,
	.product-item__pay {
		left: 65%;
	}

	.product-item__desc {
		max-width: 350px;
	}

	.product-item__name,
	.product-item__desc,
	.product-item__color {
		left: 18%;
	}

}

@media (max-width: 1140px) and (min-width: 767px) {
	.product-item__pay,
	.product-item__price,
	.product-item__size,
	.product-item__cart,
	.product-item__name,
	.product-item__love,
	.product-item__count {
		left: 48%;
	}
	
	.product-item__desc {
		top: 493px;
		left: -40%;
	}

	.product-item__price {
		top: 65px;
	}
	
	.product-item__size {
		top: 113px;
	}
	
	.product-item__count {
		top: 181px;
	}
	
	.product-item__cart {
		top: 231px;
	}
	
	.product-item__love {
		top: 307px;
	}

	.product-item__pay {
		top: 420px;
	}

	.product-item hr {
		top: 850px;
	}

	.product-item__title {
		margin-top: 310px;
		width: 100vw;
	}

}


.a1 {
	animation: sliderA 10s infinite;
}

.b1 {
	animation: sliderB 10s infinite;
}

.c1 {
	animation: sliderC 10s infinite;
}

.d1 {
	animation: sliderD 10s infinite;
}

.e1 {
	animation: sliderE 10s infinite;
}

.aa {
	animation: dotA 10s infinite;
}

.bb {
	animation: dotB 10s infinite;
}

.cc {
	animation: dotC 10s infinite;
}

.dd {
	animation: dotD 10s infinite;
}

.ee {
	animation: dotE 10s infinite;
}

@keyframes sliderA {
	0% {opacity: 1;}
	20% {opacity: 0;}
	40% {opacity: 0;}
	60% {opacity: 0;}
	80% {opacity: 0;}
}
@keyframes sliderB {
	0% {opacity: 0;}
	20% {opacity: 1;}
	40% {opacity: 0;}
	60% {opacity: 0;}
	80% {opacity: 0;}
}
@keyframes sliderC {
	0% {opacity: 0;}
	20% {opacity: 0;}
	40% {opacity: 1;}
	60% {opacity: 0;}
	80% {opacity: 0;}
}
@keyframes sliderD {
	0% {opacity: 0;}
	20% {opacity: 0;}
	40% {opacity: 0;}
	60% {opacity: 1;}
	80% {opacity: 0;}
}
@keyframes sliderE {
	0% {opacity: 0;}
	20% {opacity: 0;}
	40% {opacity: 0;}
	60% {opacity: 0;}
	80% {opacity: 1;}
}
@keyframes dotA {
	0% {background-color: #B3AEAC;}
	20% {background-color: #DDD3CD;}
	40% {background-color: #DDD3CD;}
	60% {background-color: #DDD3CD;}
	80% {background-color: #DDD3CD;}
}
@keyframes dotB {
	0% {background-color: #DDD3CD;}
	20% {background-color: #B3AEAC;}
	40% {background-color: #DDD3CD;}
	60% {background-color: #DDD3CD;}
	80% {background-color: #DDD3CD;}
}
@keyframes dotC {
	0% {background-color: #DDD3CD;}
	20% {background-color: #DDD3CD;}
	40% {background-color: #B3AEAC;}
	60% {background-color: #DDD3CD;}
	80% {background-color: #DDD3CD;}
}
@keyframes dotD {
	0% {background-color: #DDD3CD;}
	20% {background-color: #DDD3CD;}
	40% {background-color: #DDD3CD;}
	60% {background-color: #B3AEAC;}
	80% {background-color: #DDD3CD;}
}
@keyframes dotE {
	0% {background-color: #DDD3CD;}
	20% {background-color: #DDD3CD;}
	40% {background-color: #DDD3CD;}
	60% {background-color: #DDD3CD;}
	80% {background-color: #B3AEAC;}
}

.cart__button {
	font-family: "m-regular";
	font-size: 16px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	height: 50px;
	width: 90%;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s;
	background-color: var(--main-color);
	margin-bottom: 50px;
}

.cart__wrapper {
	display: flex;
	justify-content: center;
}

.cart__button:hover,
.cart__button:active {
	background-color: #B3AEAC;
	color: white;
}

.cart {
	width: 100vw;
	top: 49px;
	position: relative;
}

.cart__title {
	position: absolute;
	left: 4.5%;
	top: 82px;
	font-size: 35px;
	font-family: "a-bold";
}

.cart__back {
	position: absolute;
	left: 4.5%;
	top: 32px;
	font-size: 18px;
	font-family: "a-bold";
	color: #B3AEAC;
	cursor: pointer;
}

.cart__hr {
	width: 100vw;
	height: 1px;
	background-color: #D0D0D0;
}

#cartHr {
	position: absolute;
	left: 0;
	top: 154px;
}

.cart__items {
	padding-top: 154px;
	width: 100vw;
}

.cart__item {
	height: 125px;
	margin: 19px;
	margin-bottom: 28px;
	position: relative;
}

.cart__img {
	width: 93px;
	height: 69px;
	position: absolute;
	left: 0;
	top: 0;
}

.cart__name {
	font-family: "m-medium";
	font-size: 20px;
	position: absolute;
	left: 114px;
	top: 0;
}

.cart__color {
	font-family: "m-light";
	font-size: 14px;
	position: absolute;
	left: 114px;
	top: 29px;
}

.cart__color span {
	font-family: "m-medium";
}

.cart__size {
	font-family: "m-light";
	font-size: 14px;
	position: absolute;
	left: 114px;
	top: 51px;
}

.cart__size span {
	font-family: "m-medium";
}

.cart__price {
	font-size: 16px;
	font-family: "m-medium";
	position: absolute;
	right: 30px;
	bottom: 0;
}

.cart__count {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	border-radius: 5px;
	border: 1px solid #BCBCBC;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: "m-light";
	font-size: 20px;
}

.item__plus {
	order: 3;
	width: 34px;
	border-left: 1px solid #BCBCBC;
	cursor: pointer;
}

.item__input {
	order: 2;
	width: 63px;
	outline: none !important;
	margin: 0;
	padding: 0;
	text-align: center;
	border: none;
}

.item__minus {
	order: 1;
	width: 34px;
	border-right: 1px solid #BCBCBC;
	cursor: pointer;
}

.cart__remove {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
	padding-bottom: 0px;
}

.cart__empty {
	height: 100vh;
	padding-top: 100px;
	font-size: 25px;
	padding-left: 5%;
	position: relative;
}

.cart__empty .cart__back {
	position: static;
	margin-bottom: 30px;
}

.line__count {
	display: inline-block;
   border-radius: 50%;
   background-color: #DDD3CD;
   font-size: 10px;
   padding: 1px 4px;
   color: #000;
	position: absolute;
	left: 14px;
	top: 12px;
}

.line__cart {
	position: relative;
}

.categories {
	top: 88px !important;
}

.cart__prc {
	position: absolute;
	right: 30px;
	bottom: 20px;
	font-size: 14px;
	font-family: "m-light";
}

.cart__sum {
	font-size: 22px;
	font-family: "m-semi";
	text-align: right;
	margin-right: 25px;
	margin-bottom: 34px;
}

.cart__sum span {
	margin-left: 40px;
}

@media (min-width: 767px) {
	
	.cart__button {
		margin-right: 5vw;
		margin-bottom: 123px;
		width: 258px;
	}
	
	.cart__wrapper {
		justify-content: end;
	}
	
	.cart {
		top: 137px;
	}
	
	.cart__title {
		left: 5.3%;
		top: 47px;
	}
	
	.cart__back {
		display: none;
	}
	
	.cart__hr {
		width: 90vw;
		margin: 0px auto;
	}
	
	#cartHr {
		left: 5%;
		top: 114px;
	}
	
	.cart__items {
		padding-top: 123px;
		width: 90vw;
		margin: 0px auto;
	}
	
	.cart__item {
		height: 69px;
	}
	
	
	.cart__price {
		font-size: 18px;
		right: 50px;
	}
	
	.cart__count {
		left: 304px;
	}
	
	.cart__empty {
		height: 100vh;
		padding-top: 200px;
		font-size: 25px;
		padding-left: 5%;
		position: relative;
	}
	
	.cart__empty .cart__back {
		position: static;
		margin-bottom: 30px;
		display: block;
	}
	
	.cart__prc {
		right: 50px;
		font-size: 16px;
	}
	
	.cart__sum {
		margin-right: 5vw;
	}
}

.ordering {
	position: relative;
	top: 49px;
	width: 100vw;
}

.ordering .cart__title {
	left: 8%;
}

.ordering .cart__sum {
	margin-bottom: 60px;
}

.ordering__info {
	
}

.ordering__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ordering__input {
	width: calc(90.7% - 11px);
	height: 49px;
	font-family: "m-regular";
	font-size: 16px;
	padding: 0;
	margin: 0;
	padding-left: 11px;
	outline: none !important;
	border-radius: 5px;
	border: 1px solid #B8B8B8;
	margin-bottom: 16px;
}

.ordering__delivery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ordering__name {
	margin-left: 4.5%;
	margin-bottom: 23px;
	font-family: "m-medium";
	font-size: 20px;
	margin-top: 19px;
}

.ordering__del {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4.5%;
}

.ordering__checkbox {
	width: 15px;
	height: 15px;
	border: 3px solid black;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-right: 15px;
	cursor: pointer;
}

.checked:after {
	content: "";
	width: 11px;
	background-color: #000;
	height: 11px;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50%;
}

.ordering__label {
	font-family: "m-regular";
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}

.ordering__comment {
	width: calc(90% - 30px);
	font-family: "m-regular";
	font-size: 16px;
	height: 70px;
	padding: 15px;
	margin: 0px auto;
	border-radius: 5px;
	outline: none !important;
	border: 1px solid #B8B8B8;
	display: block;
	margin-top: 25px;
}

.ordering__button {
	font-family: "m-regular";
	font-size: 16px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	height: 50px;
	width: 90%;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s;
	background-color: var(--main-color);
	margin-bottom: 50px;
	display: block;
	margin: 0px auto;
	margin-bottom: 93px;
	margin-top: 155px;
}

.ordering__button:hover,
.ordering__button:active {
	background-color: #B3AEAC;
	color: white;
}

.ordering__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 767px) {
	.ordering {
		top: 137px;
	}

	.ordering__button {
		width: 258px;
	}

	.ordering .cart__items {
		width: 28.5vw;
		margin-left: 5.3%;
		top: 121px;
		min-width: 320px;
	}

	.ordering .cart__item {
		margin-left: 0;
		margin-right: 0;
	}

	.ordering .cart__item {
		height: 125px;
	}

	.ordering .cart__hr {
		width: 28.5vw;
		min-width: 320px;
		margin: 0;
		margin-left: 5.3% !important;
	}

	#cartHr {
		left: 0;
	}

	.ordering .cart__price {
		font-size: 18px;
		right: 50px;
	}
	
	.ordering .cart__count {
		left: 0;
		bottom: 0;
	}

	.ordering .cart__title {
		top: 110px;
		left: 42.75vw;
	}

	.ordering .cart__sum {
		margin-right: 0;
		margin-left: 15vw;
		text-align: left;
	}

	.ordering__input {
		width: 95%;
	}

	.ordering__info {
		position: absolute;
		left: 42.75%;
		top: 170px;
		width: 53vw;
	}

	.ordering__contacts,
	.ordering__delivery {
		align-items: start;
	}

	.ordering__name {
		margin-left: 0;
	}

	.ordering__button {
		margin-left: 42.75vw;
		margin-top: 310px;
	}

	.ordering__comment {
		margin: 0;
		margin-top: 25px;
		width: 90%;
	}

	.ordering__wrapper {
		width: 97%;
		flex-direction: row;
		
	}

	#home {
		margin-right: 16px;
	}


}


@media (min-width: 1200px) {
	.ordering .cart__item {
		margin-left: 19px;
		margin-right: 19px;
	}
}

@media (max-width: 1000px) and (min-width: 768px) {
	.ordering .cart__title {
		left: 420px;
	}

	.ordering__info {
		left: 420px;
		width: 47vw;
	}

	.ordering__button {
		margin-left: 420px;
	}
}

@media (max-width: 1300px) and (min-width: 768px) {
	.ordering .cart__sum {
		margin-left: 115px;
	}
}

.page {
	position: relative;
	top: 49px;
}

.page__title {
	font-size: 35px;
	font-family: "a-bold";
	text-align: center;
	padding-top: 35px;
}

.page__text {
	font-size: 16px;
	font-family: "m-light";
	padding: 19px;
	line-height: 20px;
	margin-bottom: 60px;
}

@media (min-width: 767px) {
	.page {
		top: 137px;
	}

	.page__title {
		text-align: left;
		margin-left: 5.3vw;
	}

	.page__text {
		margin-left: 5.3vw;
		padding: 0;
		padding-top: 25px;
		margin-bottom: 100px;
		padding-right: 50px;
	}
}

.serves__item a {
	color: white;
}

.main__line {
	position: absolute;
	top: 150px;
	width: 97.4vw;
	max-width: 341px;
}

.main__search {

}

.main__search img {
	position: absolute;
	right: 0;
	top: 0;
}

.main__input {
}

.main__searching {
}

.main__sort {
}

.main__filters {
	display: flex;
}

.main__filters div {
	text-transform: uppercase;
	font-family: "m-regular";
	font-size: 16px;
	color: #7E7E7E;
	margin-left: 10px;
}