@font-face {
	font-family: "Open Sans";
	src: url("../fonts/AGOpus-Bold.ttf") format("ttf")
}

@font-face {
	font-family: "m-light";
	src: url("../../../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "m-medium";
	src: url("../../../fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "m-regular";
	src: url("../../../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "m-semi";
	src: url("../../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
	font-family: "a-bold";
	src: url("../../../fonts/agopus_bold.woff");
}

:root {
	--main-color: #DDD3CD;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

a {
	transition: color 0.3s;
}

a:hover {
	color: var(--main-color) !important;
}

/*  Font adaptive  */

@media (max-width: 767px) {
	.header__title {
		font-size: calc(40px + 40 * ((100vw - 420px) / 1600)) !important;
	}
}

/*  Font adaptive  */

.index-page {
	width: 100vw;
}

.index-page__line {
	
}

.line {
	font-family: "m-regular";
	background-color: #353433;
	width: 100%;
	height: 49px;
	display: grid;
	grid-template: 1fr / 1fr 3fr minmax(120px, 20%);
}

.line__line {
	width: 27px;
	height: 2px;
	background-color: white;
}

.line__hamburger {
	display: grid;
	grid-template: repeat(3, 1fr) / 1fr;
	grid-gap: 6px;
}

.line__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line__icons {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.line__phone {
	margin: auto;
}

.line__phone a {
	color: white;
	text-decoration: none;
}

.line__info {
	display: none;
	color: white;
	font-family: "m-light";
	width: 155px;
	font-size: 14px;
	justify-content: space-around;
}


.header {
	background-image: url('../../../images/header-mobil-img.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 394px;
	text-align: center;
	position: relative;
}

.header__button {
	font-family: "m-regular";
	border-radius: 5px;
	background-color: var(--main-color);
	font-size: 16px;
	width: 258px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 69.7%;
	margin: auto;
	left: 50%;
	margin-left: -129px;
}

.header__button:active {
	color: white;
	background-color: #B3AEAC;
}

.header__title {
	font-family: "a-bold";
	font-size: calc(40px + 40 * (100vw / 1600));
	position: absolute;
	top: 17%;
	line-height: 1;
}

.header__desc {
	font-family: "m-medium";
	font-size: 20px;
	width: 333px;
	margin: auto;
	position: absolute;
	top: 42.5%;
	left: 50%;
	margin-left: -166.5px;
}

.header__white {
	background: #FFFFFF;
	opacity: 0.5;
	width: 33%;
	height: 68.5%;
	position: absolute;
	top: 0;
	left: 0;
}

.header__brown {
	background-color: var(--main-color);
	width: 33%;
	height: 31.5%;
	position: absolute;
	left: 33%;
	bottom: 0;
	font-family: "m-semi";
	line-height: 1.46;
	font-size: calc(18px + 17 * (100vw / 1600));
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__brown-text {
	margin: auto 40px;
}

.header__desctop {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.nav {
	background-color: #B3AEAC;
	width: 34%;
	height: 16.5%;
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

.nav__item {
	text-decoration: none;
	font-family: "m-semi";
	font-size: 16px;
	letter-spacing: 0.03em;
	padding-bottom: 5px;
}



/* Header для десктопа */

@media (min-width: 768px) {
	.header__desctop {
		display: block;
	}
	
	.line__hamburger {
		display: none;
	}

	.line__info {
		display: flex;
	}

	.line {
		grid-template: 1fr / 1fr 4fr minmax(120px, 20%);
	}

	.line__phone {
		margin: auto 0px;
		text-align: right;
	}

	.header {
		padding-top: 49px;
		background-image: url("../../../images/header-desctop-img.png");
		height: calc(100vh - 98px);
	}

	.header__button {
		display: none;
	}

	.header__desc {
		margin-left: 10vw;
		z-index: 2;
		left: 0;
		text-align: left;
		line-height: 2;
	}

	.header__title {
		top: 18.6%;
		max-width: 850px;
		z-index: 2;
		left: 0;
		margin-left: 10vw;
		text-align: left;
	}
}

/* Header для десктопа */

.about {
	background-color: #B3AEAC;
	color: white;
	height: 954px;
	position: relative;
}

.about__title {
	font-family: "a-bold";
	font-size: 35px;
	position: absolute;
	left: 5%;
	top: 5%;
}

.about__desc {
	font-family: "m-light";
	font-size: 18px;
	width: 90%;
	position: absolute;
	left: 5%;
	top: 13.5%;
}

.list {
	position: absolute;
	top: 40.7%;
	width: 100%;
	height: 100%;
}

.list__item {
	position: absolute;
	display: flex;
	align-items: center;
}

.list__item:nth-child(2) {
	top: 20%;
}

.list__item:nth-child(3) {
	top: 40%;
}

.list__title {
	font-family: "m-regular";
	font-size: 20px;
	grid-column-start: 2;
	margin-left: 27%;
	margin-bottom: 1%;
}

.list__text {
	font-family: "m-light";
	font-size: 16px;
	grid-column-start: 2;
	margin-left: 27%;
	width: 69%;
}

.list__number {
	grid-row-start: 1;
	font-family: "a-bold";
	font-size: 35px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--main-color);
	text-align: center;
	line-height: 58px;
	position: absolute;
	left: 10%;
}

.about__img {
	display: none;
}

/* About для десктопа */

@media (min-width: 1150px) {
	.about__img {
		display: block;
	}

	.about__wrapper {
		height: 777px;
		width: calc(100vw - 669px);
		position: relative;
	}

	.about {
		width: 100%;
		height: 777px;
		display: flex;
	}

}

/* About для десктопа */

.advantage {
	padding: 10%;
	display: grid;
	grid-gap: 20px;
}

.advantage__item {
	display: flex;
	align-items: center;
}

.advantage__text {
	font-family: "m-regular";
	font-size: 20px;
	margin-left: 8%;
}

/* Advantage для десктопа */

@media (min-width: 1024px) {
	.advantage {
		display: flex;
		padding: 8%;
	}

}

/* Advantage для десктопа */



.main {
	width: 100vw;
	height: 100vh;
}



.footer {
	background-color: #2C2624;
	color: white;
	position: relative;
	height: 764px;
}

.footer__icon {
	width: 24px;
	border-radius: 50%;
	margin-right: 23px;
}

.footer__title {
	font-family: "a-bold";
	font-size: 25px;
	position: absolute;
	left: 4.7%;
	top: 6.6%;
	max-width: 250px;
}

.footer__adress {
	font-family: "m-regular";
	font-size: 14px;
	position: absolute;
	left: 4.7%;
	top: 16%;
}

.footer__phone {
	font-family: "m-semi";
	font-size: 20px;
	position: absolute;
	left: 4.7%;
	top: 68.4%;
}

.footer__phone a {
	text-decoration: none;
	color: white;
}

.footer__email {
	font-family: "m-regular";
	font-size: 16px;
	position: absolute;
	left: 4.7%;
	top: 72.2%;
}

.footer__timetable {
	font-family: "m-regular";
	font-size: 12px;
	position: absolute;
	left: 4.7%;
	top: 77.3%;
}

.footer__social {
	position: absolute;
	left: 4.7%;
	top: 82.3%;
}

.catalog {

	position: absolute;
	left: 4.7%;
	top: 23%;
}

.catalog__title {
	font-family: "m-semi";
	font-size: 20px;
	text-transform: uppercase;
}

.catalog__item {
	margin-top: 8px;
	font-family: "m-regular";
}

.serves {
	position: absolute;
	left: 4.7%;
	top: 45.8%;
}

.serves__title {
	font-family: "m-semi";
	font-size: 20px;
	text-transform: uppercase;
}

.serves__item {
	margin-top: 8px;
	font-family: "m-regular";
}

/* Footer для десктопа */

@media (min-width: 1024px) {
	.footer {
		height: 269px;
	}

	.footer__title, 
	.catalog, 
	.serves,
	.footer__phone {
		top: 18.5%;
	}

	.footer__title,
	.footer__adress {
		left: 5.5%;
	}

	.catalog {
		left: 28%;
	}

	.serves {
		left: 50.6%;
	}

	.footer__adress, 
	.footer__email,
	.footer__social,
	.footer__phone,
	.footer__timetable {
		right: 5.5%;
		left: auto;
	}
}

/* Footer для десктопа */

