@font-face {
	font-family: "Open Sans";
	src: url("../fonts/AGOpus-Bold.ttf") format("ttf")
}

@font-face {
	font-family: "m-light";
	src: url("../../../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "m-medium";
	src: url("../../../fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "m-regular";
	src: url("../../../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "m-semi";
	src: url("../../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
	font-family: "a-bold";
	src: url("../../../fonts/agopus_bold.woff");
}

:root {
	--main-color: #DDD3CD;
}

.open {
	display: block;
}

.close {
	display: none;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

a {
	transition: color 0.3s;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	color: var(--main-color) !important;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
	background: url("../../../images/triangle-icon.png") no-repeat center;
	width: 207px;
	height: 30px;
	border-radius: 5px;
	padding: 7px;
	background-position: 181px 7px;
	border: 1px solid #909090;
	outline: none !important;
}

select option {
	font-size: 14px;
}

select::-ms-expand {
	display: none;
}

/*  Font adaptive  */

@media (max-width: 767px) {
	.header__title {
		font-size: calc(40px + 40 * ((100vw - 420px) / 1600)) !important;
	}
}

/*  Font adaptive  */

.index-page {
	width: 100vw;
}

.index-page__line {
	
}

.line {
	font-family: "m-regular";
	background-color: #353433;
	width: 100%;
	height: 49px;
	display: grid;
	grid-template: 1fr / 1fr 3fr minmax(120px, 20%);
	position: fixed;
	z-index: 6;
}

.line__line {
	width: 27px;
	height: 2px;
	background-color: white;
}

.closed > div:nth-child(2){
	display: none;
}

.closed > div:nth-child(1){
	transform: rotate(45deg) translate(0px, 1px);
}

.closed > div:nth-child(3){
	transform: rotate(-45deg) translate(0px, -1px);
}

.closed {
	display: block !important;
}


.line__hamburger {
	display: grid;
	grid-template: repeat(3, 1fr) / 1fr;
	grid-gap: 6px;
}

.line__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.line__icons {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.line__phone {
	margin: auto;
}

.line__phone a {
	color: white;
	text-decoration: none;
}

.line__info {
	display: none;
	color: white;
	font-family: "m-light";
	width: 155px;
	font-size: 14px;
	justify-content: space-around;
}


.line__mobil {
	width: 100%;
	height: 333px;
	background-color: #353433;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 3;
	transition: all 0.3s;
}

.line__item {
	color: white;
	text-transform: uppercase;
	font-family: "m-medium";
	font-size: 20px;
	position: absolute;
}

.line__item:nth-child(1) {
	top: 74px;
	left: 50%;
	margin-left: -49px;
}

.line__item:nth-child(2) {
	top: 113px;
	left: 50%;
	margin-left: -33px;
}

.line__item:nth-child(3) {
	top: 152px;
	left: 50%;
	margin-left: -58px;
}

.line__item:nth-child(4) {
	top: 191px;
	left: 50%;
	margin-left: -44px;
}

.line__item:nth-child(5) {
	top: 230px;
	left: 50%;
	margin-left: -59px;
}


.header {
	background-image: url('../../../images/header-mobil-img.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 394px;
	text-align: center;
	position: relative;
}

.header__button {
	font-family: "m-regular";
	border-radius: 5px;
	background-color: var(--main-color);
	font-size: 16px;
	width: 258px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 69.7%;
	margin: auto;
	left: 50%;
	margin-left: -129px;
}

.header__button:active {
	color: white;
	background-color: #B3AEAC;
}

.header__title {
	font-family: "a-bold";
	font-size: calc(40px + 40 * (100vw / 1600));
	position: absolute;
	top: 17%;
	line-height: 1;
}

.header__desc {
	font-family: "m-medium";
	font-size: 20px;
	width: 333px;
	margin: auto;
	position: absolute;
	top: 42.5%;
	left: 50%;
	margin-left: -166.5px;
}

.header__white {
	background: #FFFFFF;
	width: 33%;
	height: 68.5%;
	position: absolute;
	top: 0;
	left: 0;
}

.header__brown {
	background-color: var(--main-color);
	width: 33%;
	height: 31.5%;
	position: absolute;
	left: 33%;
	bottom: 0;
	font-family: "m-semi";
	line-height: 1.46;
	font-size: calc(18px + 17 * (100vw / 1600));
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__brown-text {
	margin: auto 40px;
}

.header__desctop {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.nav {
	background-color: #B3AEAC;
	width: 34%;
	height: 16.5%;
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

.nav__item {
	text-decoration: none;
	font-family: "m-semi";
	font-size: 16px;
	letter-spacing: 0.03em;
	padding-bottom: 5px;
}



/* Header для десктопа */

@media (min-width: 768px) {
	.header__desctop {
		display: block;
	}
	
	.line__hamburger {
		display: none;
	}

	.line__mobil {
		display: none;
	}

	.line__info {
		display: flex;
	}

	.line {
		grid-template: 1fr / 1fr 4fr minmax(120px, 20%);
	}

	.line__phone {
		margin: auto 0px;
		text-align: right;
	}

	.header {
		padding-top: 49px;
		background-image: url("../../../images/header-desctop-img.png");
		height: calc(100vh - 49px);
	}

	.header__button {
		display: none;
	}

	.header__desc {
		margin-left: 10vw;
		z-index: 2;
		left: 0;
		text-align: left;
		line-height: 2;
	}

	.header__title {
		top: 18.6%;
		max-width: 850px;
		z-index: 2;
		left: 0;
		margin-left: 10vw;
		text-align: left;
	}
}

/* Header для десктопа */

.about {
	background-color: #B3AEAC;
	color: white;
	height: 954px;
	position: relative;
}

.about__title {
	font-family: "a-bold";
	font-size: 35px;
	position: absolute;
	left: 5%;
	top: 5%;
}

.about__desc {
	font-family: "m-light";
	font-size: 18px;
	width: 90%;
	position: absolute;
	left: 5%;
	top: 13.5%;
}

.list {
	position: absolute;
	top: 40.7%;
	width: 100%;
	height: 100%;
}

.list__item {
	position: absolute;
	display: flex;
	align-items: center;
}

.list__item:nth-child(2) {
	top: 20%;
}

.list__item:nth-child(3) {
	top: 40%;
}

.list__title {
	font-family: "m-regular";
	font-size: 20px;
	grid-column-start: 2;
	margin-left: 27%;
	margin-bottom: 1%;
}

.list__text {
	font-family: "m-light";
	font-size: 16px;
	grid-column-start: 2;
	margin-left: 27%;
	width: 69%;
}

.list__number {
	grid-row-start: 1;
	font-family: "a-bold";
	font-size: 35px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: var(--main-color);
	text-align: center;
	line-height: 58px;
	position: absolute;
	left: 10%;
}

.about__img {
	display: none;
}

/* About для десктопа */

@media (min-width: 1150px) {
	.about__img {
		display: block;
	}

	.about__wrapper {
		height: 777px;
		width: calc(100vw - 669px);
		position: relative;
	}

	.about {
		width: 100%;
		height: 777px;
		display: flex;
	}

}

/* About для десктопа */

.advantage {
	padding: 10%;
	display: grid;
	grid-gap: 20px;
}

.advantage__item {
	display: flex;
	align-items: center;
}

.advantage__text {
	font-family: "m-regular";
	font-size: 20px;
	margin-left: 8%;
}

/* Advantage для десктопа */

@media (min-width: 1024px) {
	.advantage {
		display: flex;
		padding: 8%;
	}

}

/* Advantage для десктопа */



.main {
	width: 100vw;
	min-height: 100vh;
	position: relative;
}


.main__products {
	width: 72%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 28%;
	top: 219px;	
}

.main__title {
	font-family: "a-bold";
	font-size: 35px;
	position: absolute;
	left: 5.3%;
	top: 82px;
}

@media (max-width: 768px) {
	.main__title {
		display: none;
	}
}


.menu {
	position: absolute;
	left: 5.5%;
	top: 169px;
}

.menu__item {
	font-family: "m-regular";
	margin-bottom: 31px;
}

.menu__title {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.menu__child {
	font-size: 16px;
	color: #909090;
	margin-left: 20px;
	cursor: pointer;
	transition: all 0.3s;
	margin-bottom: 10px;
}

.menu__child:hover {
	color: #B3AEAC;
}

.product {
	margin: 0px 4.7%;
	max-width: 341px;
	border: 1px solid #C1C1C1;
	border-radius: 10px;
	height: 540px;
	position: relative;
	transition: all 0.3s;
}

.product:hover {
	height: 574px;
	box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.1);
}

.product:hover  .product__sum{
	opacity: 1;
}

.product__img {
	width: 100%;
	max-width: 341px;
}

.product__description {
}

.product__title {
	font-family: "m-medium";
	font-size: 25px;
	position: absolute;
	left: 12.3%;
	top: 259px;
}

.product__desc {
	font-family: "m-light";
	font-size: 14px;
	position: absolute;
	left: 12.3%;
	top: 302px;
}

.product__price {
	color: #B3AEAC;
	font-size: 20px;
	font-family: "m-medium";
	position: absolute;
	left: 12.3%;
	top: 352px;

}

.product__cart {
	text-decoration: none;
}

.product__button {
	font-family: "m-regular";
	font-size: 16px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	border: 1px solid black;
	height: 50px;
	width: 207px;
	display: inline-block;
	position: absolute;
	left: 12.3%;
	top: 460px;
	text-align: center;
	line-height: 50px;
	transition: all 0.3s;
}

.product__button:hover {
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
}

.product__love {
	position: absolute;
	left: 80%;
	top: 472px;
}

.product__love img:nth-child(2) {
	display: none;
}

.product__size {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 12.3%;
	top: 398px;
	font-size: 14px;
	font-family: "m-light";
	text-transform: uppercase;
}

.product__sum {
	position: absolute;
	left: 12.3%;
	top: 516px;
	display: flex;
	border-radius: 5px;
	border: 1px solid #BCBCBC;
	height: 34px;
	text-align: center;
	opacity: 0;
	transition: all 0.3s;
	line-height: 30px;
}
.product__plus {
	order: 3;
	width: 34px;
	border-left: 1px solid #BCBCBC;
}

.product__number {
	order: 2;
	width: 139px;
}

.product__minus {
	order: 1;
	width: 34px;
	border-right: 1px solid #BCBCBC;
}

.footer {
	background-color: #2C2624;
	color: white;
	position: relative;
	height: 764px;
}

.footer__icon {
	width: 24px;
	border-radius: 50%;
	margin-right: 23px;
}

.footer__title {
	font-family: "a-bold";
	font-size: 25px;
	position: absolute;
	left: 4.7%;
	top: 6.6%;
	max-width: 250px;
}

.footer__adress {
	font-family: "m-regular";
	font-size: 14px;
	position: absolute;
	left: 4.7%;
	top: 16%;
}

.footer__phone {
	font-family: "m-semi";
	font-size: 20px;
	position: absolute;
	left: 4.7%;
	top: 68.4%;
}

.footer__phone a {
	text-decoration: none;
	color: white;
}

.footer__email {
	font-family: "m-regular";
	font-size: 16px;
	position: absolute;
	left: 4.7%;
	top: 72.2%;
}

.footer__timetable {
	font-family: "m-regular";
	font-size: 12px;
	position: absolute;
	left: 4.7%;
	top: 77.3%;
}

.footer__social {
	position: absolute;
	left: 4.7%;
	top: 82.3%;
}

.catalog {
	position: absolute;
	left: 4.7%;
	top: 23%;
}

.catalog__title {
	font-size: 20px;
	text-transform: uppercase;
	font-family: "m-semi";
}


.catalog__item {
	font-family: "m-regular";
	font-size: 16px;
	margin-top: 8px;
}

.serves {
	position: absolute;
	left: 4.7%;
	top: 45.8%;
}

.serves__title {
	font-family: "m-semi";
	font-size: 20px;
	text-transform: uppercase;
}

.serves__item {
	margin-top: 8px;
	font-family: "m-regular";
}

/* Footer для десктопа */

@media (min-width: 1100px) {
	.footer {
		height: 269px;
	}

	.footer__adress {
		top: 49.5%;
	}

	.footer__email {
		top: 29.3%;
	}

	.footer__timetable {
		top: 44.6%;
	}

	.footer__social {
		top: 58.7%;
	}

	.footer__title, 
	.catalog, 
	.serves,
	.footer__phone {
		top: 18.5%;
	}

	.footer__title,
	.footer__adress {
		left: 5.5%;
	}


	.serves {
		left: 50.6%;
	}

	.catalog {
		left: 28.06%;
	}
 
	.footer__email,
	.footer__social,
	.footer__phone,
	.footer__timetable {
		right: 5.5%;
		left: auto;
	}
}

/* Footer для десктопа */


.small-header {
	background-color: #fff;
	height: 88px;
	border-bottom: 1px solid #BFBFBF;
	top: 49px;
	z-index: 5;
	width: 100vw;
	text-transform: uppercase;
	font-family: "m-semi";
	transition: all 0.3s;
	position: fixed;
	display: none;
}

.small-header.move {
	transform: translateY(-100%);
}

.small-header.fixed {
	transform: translateY(0px);
}

.small-header div {
	position: absolute;
	top: 36px;
}

.small-header__catalog {
	color: black;
	left: 5.3%;
}

.small-header__about {
	color: black;
	left: 14.8%;
}

.small-header__contacts {
	color: black;
	left: 21.1%;
}

@media (min-width: 767px) and (max-width: 1200px) {
	.small-header__catalog {
		left: 10.6%;
	}
	
	.small-header__about {
		left: 29.6%;
	}
	
	.small-header__contacts {
		left: 42.2%;
	}
}

@media (min-width: 767px)  {
	.small-header {
		display: block;
	}
}

.product-item {
	width: 100vw;
	top: 49px;
	position: relative;
}

.product-item__back {
	position: absolute;
	left: 4.5%;
	top: 32px;
	font-size: 18px;
	font-family: "a-bold";
	color: #B3AEAC;
	cursor: pointer;
}

.product-item__images {
}

.product-item__description {
	width: 100%;
	position: relative;
}

.product-item__name {
	position: absolute;
	left: 4.5%;
	top: 0;
	font-size: 35px;
	font-family: "a-bold";
}

.product-item__desc {
}

.product-item__color {
}

.product-item__tools {
}

.product-item__price {
	position: absolute;
	left: 4.5%;
	top: 0;
	font-size: 25;
	font-family: "m-medium";
}

.product-item__size {
}

.product-item__select {
}

.product-item__count {
}

.product-item__cart {
}

.product-item__button {
}

.product-item__love {
}

.product-item__tolove {
}

.product-item__pay {
}

.product-item__title {
}

.product-item__with {
}

